/* Đặt chiều cao select2 bằng với input.form-control */
.select2-container .select2-selection--single {
  height: 38px !important;
  min-height: 38px !important;
  line-height: 38px !important;
  display: flex;
  align-items: center;
}

.select2-selection__rendered {
  line-height: 38px !important;
  padding-left: 12px;
  padding-right: 12px;
}

.select2-selection__arrow {
  height: 38px !important;
  display: flex;
  align-items: center;
}
/* Responsive fix for combobox/select2 in project extension edit page */
.select2-container, select 
{
  max-width: 100%;
  width: 100% !important;
  min-width: 0 !important;
}

/* Remove border for .card in project extension edit page */
.card 
{
  border: none !important;
  box-shadow: none !important;
}